* {
    font-family: 'Do Hyeon', sans-serif;
}

body {
    background-image: url("../images/lotter-on-background.jpeg");
    background-position: right bottom;
    background-repeat: no-repeat;
}

.div-container {
    width: 1000px;
    margin: 100px auto 100px auto;
    box-shadow: 5px 5px 10px lightgray;
}

.card:hover {
    box-shadow: 5px 5px 10px lightgray;
}

.btn-primary {
    background: #EF2A23 !important;
    border-color: #EF2A23 !important;
}

.row {
    margin: 25px;
}

.div-page-title {
    margin-bottom: 5px;
}

.easy-login-icon {
    width: 50px;
    height: 50px;
}

.div-login-label {
    text-align: center;
}

.easy-login-btn {
    border: none;
    background: none;
}

.easy-login-btn:focus, :hover {
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

.div-member {
    color: gray;
}